<!DOCTYPE html>
<head>
    {{!-- <link rel="stylesheet" href="/web-server/public/css/\style.css" > --}}
    
    </head>

<body style="font-family: arial;">
    {{>header}}
    <form>
        <input placeholder="Enter Location">
        <button>Submit</button>
        <p id='1'></p>
    </form>
    {{>footer}}
    <script src="/js/some.js"></script>
</body>
